@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');

@font-face {
    font-family: "Coder";
    src: url("fonts/Coder.woff2") format("woff2");
}

/* =========================
   THEME COLORS
========================= */

:root {
    --bg: #080B10;
    --text: #ffffff;
    --button-bg: #111722;
    --button-border: #202938;
    --button-text: #ffffff;
    --accent: #6bd5dd;
}

body.light {
    --bg: #f4f6f8;
    --text: #11151c;
    --button-bg: #111722;
    --button-border: #202938;
    --button-text: #11151c;
    --accent: #168b96;
}

/* =========================
   MAIN PAGE
========================= */

body {
    margin: 0;
    background-color: var(--bg);
    color: var(--text);
    font-family: 'Manrope', sans-serif;

    transition:
        background-color 0.9s ease,
        color 0.5s ease;
}

/* =========================
   TITLE
========================= */

.Thetitle {
    font-family: "Gondens", sans-serif;
    color: var(--accent);
    margin-top: 30px;
}

/* =========================
   SUBTITLEsw
========================= */

.Undertitle {
    color: var(--text);
}

h2 {
    margin-top: 0;
}

/* =========================
   NAVIGATION
========================= */

#helpingHand {
    color: var(--text);
    height: 100px;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 14px;
    list-style: none;
    padding: 0;
}

nav a {
    display: inline-block;
    padding: 10px 22px;
    border-radius: 12px;

    background-color: var(--button-bg);
    border: 1px solid var(--button-border);
    color: beige;

    text-decoration: none;

    transition:
        background-color 0.9s ease,
        border-color 0.3s ease,
        transform 0.2s ease;
}

nav a:hover {
    background-color: gold;
    border-color: gold;
    color: #080B10;
    box-shadow: 0 0 20px rgb(223, 199, 64);

    transform: translateY(-2px);
}

/* =========================
   LIGHT MODE BUTTON
========================= */

#themeToggle {
    padding: 10px 18px;
    border: 1px solid var(--button-border);
    border-radius: 10px;

    background-color: var(--button-bg);
    color: var(--button-text);

    cursor: pointer;

    transition:
        background-color 0.9s ease,
        color 0.3s ease,
        transform 0.6s ease;
}

#themeToggle:hover {
    transform: translateY(-2px);
}


/* =========================
        EXAM DATES
========================= */

.ExamDates {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    list-style: none;
}

.Exams {
     background-color: #111722;
    border: 1px solid #202938;
    border-radius: 16px;
    padding: 20px;
    color: white;
}

.NearestTest {
    background-color: #111722;
    border: 1px solid #202938;
    border-radius: 16px;
    padding: 20px;
    color: white;
    box-shadow: 0 0 20px whitesmoke;

    transition:
    background-color 0.5s ease,
    font-weight 0.3s ease,
    transform 0.2s ease,
    box-shadow 0.5s ease,
    color 0.3s ease;
}

.NearestTest:hover {
    background-color: rgb(223, 199, 64);
    border-color: rgb(223, 199, 64);
    transform: scale(1.07);
    box-shadow: 0 0 20px rgb(223, 199, 64);
    color: black;
    font-style: oblique;
    font-weight: bolder;
    transition: font-weight 0.3s ease;
    transition: background-color 0.5s ease;
}

@media (max-width: 600px) {
            body {
    font-size: 16px;
    padding: 15px;
    min-width: 320px;
    }

   nav a {
    display: inline-block;
    padding: 10px 22px;
    border-radius: 12px;

    background-color: var(--button-bg);
    border: 1px solid var(--button-border);
    color: beige;
    gap: 1px;
    grid-template-columns: repeat(2, 1fr);

    text-decoration: none;

    transition:
        background-color 0.9s ease,
        border-color 0.3s ease,
        transform 0.2s ease;

nav ul {
    display: flex;
    justify-content: center;
    gap: 14px;
    list-style: none;
    padding: 0;
}

.ExamDates {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    list-style: none;
    }
}
}